---
import MainLayout from "../../layouts/MainLayout.astro";
import Tags from "../../components/ui/Tags.astro";
import { getEntry, getCollection } from "astro:content";
import { formatDate } from "../../utils";

import "../../styles/app.css";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
  }));
}

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title="Welcome to My site">
  <main class="mb-40 space-y-40 pt-24">
    <section class="bg-white">
      <div
        class="mx-auto max-w-(--breakpoint-xl) items-center gap-16 px-4 py-8 lg:grid lg:grid-cols-1 lg:px-3 lg:py-16"
      >
        <div class="font-light text-gray-500 sm:text-lg">
          <a
            href="/articles"
            class="hover:text-primary my-4 inline-flex items-center font-medium text-black"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 16l-4-4m0 0l4-4m-4 4h18"
              >
              </path>
            </svg>
            <span class="ml-1 text-lg font-bold">All Articles</span>
          </a>
          <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
            {entry.data.title}
          </h2>
          <h3 class="mb-2 text-lg">
            Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
          </h3>
          <Tags tags={entry.data.tags} />
          <img
            src={"/blog/" + entry.data.image}
            alt="Article Image"
            class="my-6 h-auto w-full rounded-xl"
          />
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
