---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact" className="mt-16 pb-28">
  <div class="relative">
    <SectionTitle
      sectionTitle="Contact"
      description="Connect with Us: Let's Discuss Your Digital Marketing Needs"
    />
    <Form />
  </div>
</Section>
