---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="faqs" className="pt-14 pb-2">
  <div>
    <SectionTitle sectionTitle="FAQs" />
    <Accordion />
  </div>
</Section>
