---
import { config } from "@/config";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
---

<Section id="plans" className="mt-18 pb-10">
  <div class="mx-auto w-full max-w-7xl">
    <div class="mx-auto mb-8 max-w-(--breakpoint-md) text-center lg:mb-12">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
        Plans
      </h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl">
        Choose the plan that's right for you
      </p>
    </div>
    <div
      class="space-y-8 sm:grid sm:gap-6 sm:space-y-0 md:grid-cols-2 lg:grid-cols-3 xl:gap-10"
    >
      {
        config.pricing.map((item) => (
          <Card className="bg-gray hover:shadow-xl transition-shadow duration-500">
            <div class="mx-auto flex flex-col p-8 text-center">
              <h3 class="mb-4 text-2xl font-semibold">{item.title}</h3>
              <p class="font-light text-gray-500 sm:text-lg">
                {item.description}
              </p>
              <div class="my-8 flex items-baseline justify-center">
                <span class="mr-2 text-5xl font-extrabold">${item.price}</span>
                <span class="text-gray-500">/month</span>
              </div>
              <ul role="list" class="mb-8 min-h-60 space-y-4 text-left">
                {item.features.map((feature) => (
                  <li class="flex items-center space-x-3">
                    <svg
                      class="h-5 w-5 shrink-0 text-green-500"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span>{feature}</span>
                  </li>
                ))}
              </ul>
              <a
                href="https://shopify.com"
                target="_blank"
                class="text-secondary bg-primary hover:bg-primary-darker rounded-xl px-8 py-5 text-center text-lg leading-7 font-normal"
              >
                Start Free Trial
              </a>
            </div>
          </Card>
        ))
      }
    </div>
  </div>
</Section>
