---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section className="pb-14">
  <Card>
    <div class="rounded-base relative mt-[123px] flex bg-[#F3F3F3] p-[60px]">
      <div class="flex w-full flex-col gap-[26px] md:w-[40%]">
        <h2 class="text-3xl font-medium">Let's make things happen</h2>
        <p>
          Contact us today to learn more about how our Shopify app features can
          help your business streamline order management and improve customer
          satisfaction.
        </p>
        <button class="btn-primary">Get your free proposal</button>
      </div>
      <picture
        class="absolute top-[-15%] right-[-10%] hidden h-[450px] items-center justify-center md:flex lg:right-0"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
