---
const { id, className = "" } = Astro.props;
---

<section
  id={id}
  class={`px-5 flex justify-center overflow-hidden lg:block ${className}`}
>
  <div class="mx-auto w-full max-w-[1280px]">
    <slot />
  </div>
</section>
