---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Testimonials"
      description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Self-Service Order Editing Features"
    />
    <div class="rounded-base bg-dark text-gray mb-[150px]">
      <SwiperSlider />
    </div>
  </div>
</Section>
