---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404">
  <main class="space-y-20">
    <div
      class="relative flex flex-col-reverse items-center justify-center md:flex-row"
      id="hero"
    >
      <div class="row items-center py-5 md:pt-10 md:pb-20">
        <div class="flex justify-center py-5">
          <img src="/404.svg" width="50%" alt="Hero" />
        </div>
        <div class="space-y-10 text-center">
          <h2 class="text-2xl leading-none font-medium md:text-4xl">
            Sorry, we couldn't find the page you were looking for
          </h2>
          <a
            class="text-secondary bg-primary hover:bg-primary-darker inline-flex rounded-xl px-8 py-5 text-center text-xl leading-7 font-normal shadow-lg duration-200 hover:scale-105 hover:shadow-xl"
            rel="noopener noreferrer"
            href="./"
          >
            <h2 class="text-center text-xl leading-7 font-normal">
              Go Back Home
            </h2>
          </a>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
