---
import MainLayout from "../layouts/MainLayout.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Features from "../components/sections/Features.astro";
---

<MainLayout title="About us">
  <main class="space-y-20">
    <div class="mx-auto max-w-7xl px-4 py-8 lg:px-3 lg:py-16">
      <div class="relative flex flex-col items-center justify-center" id="hero">
        <div class="flex items-center justify-center py-5 md:pt-10 md:pb-20">
          <div class="flex flex-col items-center space-y-10 text-center">
            <h2 class="text-4xl leading-none font-bold md:text-5xl">
              We are <span class="text-[#6d28d9]">sturmfrei</span>
            </h2>
            <h2
              class="mx-auto max-w-2xl text-2xl leading-none font-medium md:text-2xl"
            >
              A Sydney based startup making finely crafted apps and tools for
              the web
            </h2>
            <p class="mx-auto max-w-2xl text-xl leading-7 font-normal">
              Our Shopify app empowers businesses to grow and succeed online by
              providing customers with self-service order editing capabilities
              including order modifications, shipping updates, product swapping,
              and cancellations.
            </p>
            <a
              class="text-secondary bg-primary hover:bg-primary-darker inline-flex rounded-xl px-8 py-5 text-center text-xl leading-7 font-normal shadow-lg duration-200 hover:scale-105 hover:shadow-xl"
              rel="noopener noreferrer"
              href="https://sturmfrei.com.au"
              target="_blank"
            >
              <h2 class="text-center text-xl leading-7 font-normal">
                Read more about us
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
