---
const { sectionTitle, description } = Astro.props;
---

<div class="mb-10 flex flex-col items-center justify-between sm:flex-row">
  <h2 class="greenhead text-center text-3xl sm:text-left sm:text-4xl">
    {sectionTitle}
  </h2>
  <p class="w-auto text-center sm:w-[580px] sm:text-left">
    {description}
  </p>
</div>
