---
const { sectionTitle, description } = Astro.props;
---

<div
  class="mb-10 flex flex-col items-center justify-between md:flex-row md:gap-10"
>
  <h2
    class="mb-4 rounded-xl px-2 py-1 text-center text-3xl text-black md:mb-0 md:text-left md:text-4xl"
  >
    {sectionTitle}
  </h2>
  <p class="w-auto text-center md:text-left">
    {description}
  </p>
</div>
