<form
  class="bg-footer-form flex h-full flex-col items-center justify-center gap-5 rounded-xl px-10 py-10 sm:flex-row"
>
  <div class="w-full sm:w-3/5">
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="w-full rounded-xl border bg-transparent px-9 py-5 focus:outline-none"
    />
  </div>
  <button type="submit" name="submit" class="btn-tertiary w-full sm:w-2/5">
    Subscribe to news
  </button>
</form>
