<form
  class="flex h-full flex-col items-center justify-center gap-5 rounded-xl bg-[#292A32] px-10 py-14 sm:flex-row"
>
  <div class="w-full sm:w-[55%]">
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="w-full rounded-xl border bg-transparent px-[35px] py-5 focus:outline-none"
    />
  </div>
  <button type="submit" name="submit" class="btn-tertiary w-full sm:w-[45%]"
    >Subscribe to news</button
  >
</form>
