---
import { capitalize } from "../../utils";
const { tags } = Astro.props;
interface Props {
  tags: string[];
}
---

<div class="flex flex-wrap gap-2">
  {
    tags.map((tag: string) => (
      <span class="bg-lime rounded-full px-2 py-1 text-xs text-black hover:opacity-90">
        <a href={"/articles/tag/" + tag}>#{capitalize(tag)}</a>
      </span>
    ))
  }
</div>
